{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
{% include 'includes/_navbar_top.html' %}

<div class="container-fluid">
<div class="row">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="table-responsive">
<form method=post>
<table class="table table-bordered table-definition mb-5">
     <thead class="table-warning ">
         <tr>
             <th></th>
             <th>Name</th>
             <th>Registration Date</th>
             <th>E-mail address</th>
             <th>Status</th>
             <th>Admin </th>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td>
                 <label class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input">
                     <span class="custom-control-indicator"></span>
                 </label>
             </td>
             <td>Jos Vermeulen</td>
             <td>September 14, 2013</td>
             <td>jos@gmail.com</td>
             <td>Active</td>
             <td> No</td>
         </tr>
         <tr>
             <td>
                 <label class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input">
                     <span class="custom-control-indicator"></span>
                 </label>
             </td>
             <td>Julie</ De Bakkertd>
             <td>Oktober 24, 2017</td>
             <td>Julie@gmail.com</td>
             <td>Non Active</td>
             <td> No </td>
         </tr>
         <tr>
             <td>
                 <label class="custom-control custom-checkbox">
                     <input type="checkbox" class="custom-control-input">
                     <span class="custom-control-indicator"></span>
                 </label>
             </td>
             <td>Tom Mulder</td>
             <td>Februari 27, 2016</td>
             <td>Tom@gmail.com</td>
             <td>Active</td>
             <td> Yes</td>
         </tr>
     </tbody>
     <tfoot>
         <tr>
             <th></th>
             <th colspan="5">
                 <input onclick="this.form.action='{{url_for('admin_bp.active', active=True, all=True)}}'; this.form.submit()" class="btn btn-primary float-right" value="Set all active">
                 <a href="{{url_for('admin_bp.active', active=True)}}" class="btn btn-primary">Set Active</a>
                 <a href="{{url_for('admin_bp.active', active=False)}}" class="btn btn-primary">Set Non active</a>
                 <a href="{{url_for('admin_bp.admin')}}" class="btn btn-primary">Make Admin</a>
                 <a href="{{url_for('admin_bp.admin')}}" class="btn btn-primary">Remove Admin</a>
             </th>
         </tr>
     </tfoot>
 </table>
</div>
</div>
</div>
</div>
{% endblock %}
