{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
{% include 'includes/_navbar_top.html' %}

<div class="container-fluid">
<div class="row">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="table-responsive">
<form method=post>
<table class="table table-bordered table-definition mb-5">
     <thead class="table-warning ">
         <tr>
             <th></th>
             <th>Name</th>
             <!-- <th>Registration Date</th> -->
             <th>E-mail address</th>
             <th>Disabled</th>
             <th>Admin</th>
         </tr>
     </thead>
     <tbody>
         {% for user in users %}
         <tr>
             <td>
                 <label class="custom-control custom-checkbox">
                     <input type="checkbox" name="user_id[]" class="custom-control-input" value={{user.id}}>
                     <span class="custom-control-indicator"></span>
                 </label>
             </td>
             <td>{{user.first_name}} {{user.last_name}}</td>
             <!-- <td>September 14, 2013</td> -->
             <td>{{user.email}}</td>
             <td>{{user.disabled}}</td>
             <td>{{user.admin}}</td>
         </tr>
         {% endfor %}
     </tbody>
     <tfoot>
         <tr>
             <th></th>
             <th colspan="5">
                 <input onclick="this.form.action='{{url_for('admin_bp.active', disabled=True)}}'; this.form.submit()" class="btn btn-primary float-right" value="Disable">
                 <input onclick="this.form.action='{{url_for('admin_bp.active')}}'; this.form.submit()" class="btn btn-primary float-right" value="Enable">
                 <input onclick="this.form.action='{{url_for('admin_bp.admin', admin=True)}}'; this.form.submit()" class="btn btn-primary float-right" value="Make admin">
                 <input onclick="this.form.action='{{url_for('admin_bp.admin')}}'; this.form.submit()" class="btn btn-primary float-right" value="Remove admin">
             </th>
         </tr>
     </tfoot>
 </table>
</form>
</div>
</div>
</div>
</div>
{% endblock %}
