<div class="modal fade" id="edit-project-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Project:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
		<form method="POST" action="{{ url_for('project_bp.update') }}">
            <div class="modal-body">
                <input type="hidden" id="edit-hidden-id" name="project_id" value="">
                {{ project_form.hidden_tag() }}
                {{ wtf.form_field(project_form.name, id='edit-title') }}
                {{ wtf.form_field(project_form.description, id='edit-desc') }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
  </div>
</div>