{% extends "layout/main.html" %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block sidebar_content %}
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link sidebar-link" href="{{ url_for('main_bp.dashboard') }}">
                <i class="fas fa-home fa-fw"></i>
                Return to Dashboard
            </a>
        </li>
        <!-- Project banner -->
        <li class="nav-item">
            <a class="nav-link not-clickable active" href="#">
                <i class="fas fa-sitemap fa-fw"></i>
                Project
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link" href="{{ url_for('view_bp.view', project_id=project.id) }}">
                <i class="fas fa-upload fa-fw"></i>
                Upload data
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link" href="{{ url_for('view_bp.join', project_id=project.id) }}">
                <i class="fas fa-random fa-rotate-270 fa-fw"></i>
                Merge data
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link current-section" href="{{ url_for('view_bp.compare_view', project_id=project.id) }}">
                <i class="fas fa-chart-pie fa-fw"></i>
                Compare view
            </a>
        </li>
        <!-- Datasets banner -->
        <li class="nav-item">
            <a class="nav-link not-clickable active" href="#">
                <i class="fas fa-database fa-fw"></i>
                Datasets
            </a>
        </li>
    {% for dataset in project.datasets %}
        <li class="nav-item">
            <a class="nav-link sidebar-link" data-toggle="collapse"
               href="#sidebar-{{ dataset.id }}-info">
                <i class="fas fa-caret-right fa-fw" id="sidebar-{{ dataset.id }}-toggle"></i>
                {{ dataset.name }}
            </a>
        </li>
        <!-- Collapsable dataset info card -->
        <div class="collapse sidebar-collapse" id="sidebar-{{ dataset.id }}-info">
            <div class="card card-body sidebar-card">
                <h6>Description:</h6>
                {{ dataset.description }}
                <hr/>
                <div class="row-fluid inline action-icons">
                    <!-- Open project button -->
                    <a href="{{ url_for('view_bp.view', dataset_id=dataset.id) }}">
                        <i class="fas fa-folder-open"></i>
                    </a>
                    <!-- Edit project button -->
                    <a href="#edit-dataset-modal" data-toggle="modal"
                       data-target="#edit-dataset-modal"
                       data-projectid="{{ dataset.id }}"
                       data-title="{{ dataset.name }}"
                       data-description="{{ dataset.description }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <!-- Delete project button -->
                    <form id="delete-form-{{ dataset.id }}"
                          action="{{ url_for('upload_bp.delete', dataset_id=dataset.id) }}"
                          method="POST">
                        <input type="hidden" name="dataset_id"
                               value="{{ dataset.id }}">
                        <a href="#" onclick="document.getElementById('delete-form-{{ dataset.id }}').submit()">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %}

{% block main_content %}
<div class="jumbotron">
    <div class="row">
        <div class="container">
            <form method=post action="{{ url_for('view_bp.compare_view', project_id=project.id) }}">
                <h2>Select 2-4 datasets:</h2>
                <table id="compare_table" class="table table-bordered" width="100%">
                    <thead>
                    <tr>
                        <th>Dataset 1</th>
                        <th>Dataset 2</th>
	                    <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="custom-select file-select" name="dataset1" id="dataset1" required>
                                    <option value="" disabled selected></option>
                                    {% for dataset in project.datasets %}
                                        <option value="{{ dataset.id }}">{{ dataset.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select class="custom-select file-select" name="dataset2" id="dataset2" required>
                                    <option value="" disabled selected></option>
                                    {% for dataset in project.datasets %}
                                        <option value="{{ dataset.id }}">{{ dataset.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td width="5%">
                                <button type="button" class="btn btn-info btn-block add-dataset-btn">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-success pull-right" name="button" value="compare">
                    Compare
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
	<script>
		var counter = 2;
		var datasets = '';
		{% for dataset in project.datasets %}
			datasets += '<option value="{{ dataset.id }}">{{ dataset.name }}</option>'
		{% endfor %}

		$(document).on('click', '.add-dataset-btn', function () {
		    if (counter === 2) {
                $('#compare_table').find('thead th:last').before(
                    '<th>Dataset 3</th>' +
	                '<th></th>'
                );
                $('#compare_table').find('tbody td:last').before(
                    '<td>' +
	                '<select class="custom-select file-select" name="dataset3" id="dataset3" required>' +
                    '<option value="" disabled selected></option>' + datasets +
                    '</select>' +
	                '</td>' +
		            '<td width="5%"id="dataset 3">' +
		            '<button type="button" class="btn btn-warning btn-block remove-dataset-btn">' +
		            '<i class="fas fa-minus"></i>' +
		            '</button>' +
		            '</td>'
                );
                counter = 3;
            }
            else if (counter === 3) {
			    $('#compare_table thead th:nth-child(5)').remove();
			    $('#compare_table tbody td:nth-child(5)').remove();
		        $('#compare_table').find('thead th:last').before(
                    '<th>Dataset 4</th>'
                );
                $('#compare_table').find('tbody td:last').before(
                    '<td>' +
	                '<select class="custom-select file-select" name="dataset4" id="4" required>' +
                    '<option value="" disabled selected></option>' + datasets +
                    '</select>' +
	                '</td>'
                );
                counter = 4;
		    }
		});

		$(document).on('click', '.remove-dataset-btn', function () {
		    if (counter === 3) {
			    $('#compare_table thead th:nth-child(4)').remove();
			    $('#compare_table tbody td:nth-child(4)').remove();
			    $('#compare_table thead th:nth-child(3)').remove();
			    $('#compare_table tbody td:nth-child(3)').remove();
			    counter = 2;
		    }
		    else if (counter === 4) {
			    $('#compare_table thead th:nth-child(4)').remove();
			    $('#compare_table tbody td:nth-child(4)').remove();

                $('#compare_table').find('thead th:last').after(
	                '<th></th>'
                );
                $('#compare_table').find('tbody td:last').after(
		            '<td width="5%"id="dataset 3">' +
		            '<button type="button" class="btn btn-info btn-block add-dataset-btn">' +
		            '<i class="fas fa-plus"></i>' +
		            '</button>' +
		            '</td>'
                );
                counter = 3;
		    }
		});
	</script>
{% endblock %}