<div class="modal fade" id="export-features-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export features:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
		<form method="POST" enctype="multipart/form-data" action="{{ url_for('view_bp.download_features', dataset_id=dataset.id) }}">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <select name="column_name" class="custom-select" style="padding-bottom: 5px" required>
                            {% for column in columns %}
                                {% if column[1] == "TEXT" %}
                                    <option data-type="{{ column[1] }}">{{ column[0] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                </div>
                    <div class="form-control" style="margin-top: 10px">
                        Blacklist (file with a blacklisted word on each line)
                        <input name=blacklist type=file>
                    </div>
                <!-- <input type="text" name="null" class="form-control" style="margin-top: 10px" placeholder="String for NULL-values"> -->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-download fa-fw"></i>
                    Export
                </button>
            </div>
        </form>
    </div>
  </div>
</div>
