{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Dashboard
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/typeahead.css')}}">
{% endblock %}

{% block content %}
    {% include 'includes/_navbar_top.html' %}
    {% include 'includes/_messages.html' %}
    <div class="container">
        <h1>Projects</h1>
        {% for project in projects %}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading clickable">
                            <h3 class="panel-title" id="name-{{ project[0] }}">{{ project[1] }}</h3>
                            <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Description:</h4>
                                    <div id="description-{{ project[0] }}">{{ project[2] }}</div>
                                    <hr/>
                                    <div class="list-group">
                                        {% for dataset in datasets %}
                                            {% if dataset[4] == project[0] %}
                                                <a href="{{ url_for('data_bp.dataset', dataset=dataset[0]) }}" class="list-group-item">
                                                    <h4 class="list-group-item-heading">{{ dataset[1] }}</h4>
                                                    <p class="list-group-item-text">{{ dataset[2] }}</p>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4>Upload:</h4>
                                    <form method="POST" action="/data/{{ project[0] }}/upload" enctype="multipart/form-data">
                                        {{ upload_form.hidden_tag() }}
                                        {{ wtf.form_field(upload_form.file) }}
                                        {{ wtf.form_field(upload_form.name) }}
                                        {{ wtf.form_field(upload_form.description) }}
                                        <button type="submit" class="btn btn-success pull-right" name="button" value="upload">Upload</button>
                                    </form>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-6">
                                    <form class="form" method="POST" action="{{ url_for('data_bp.share_project', project_id=project[0]) }}">
                                        <button type="submit" class="btn btn-info project-action" name="button" value="share">Share</button>
                                        {{ share_form.hidden_tag() }}
                                        {{ share_form.username(class_="form-control typeahead",  autocomplete="off") }}
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form method="post" action="{{ url_for('data_bp.delete_project', project_id=project[0] ) }}">
                                        <button type="submit" class="btn btn-danger pull-right project-action" name="{{ project[0] }}" value="delete">Delete</button>
                                    </form>
                                        <button type="submit" class="btn btn-warning pull-right project-action" name="{{ project[0] }}" value="edit">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading clickable">
                        <h3 class="panel-title">Create New Project</h3>
                        <span class="pull-right "><i class="glyphicon glyphicon-minus"></i></span>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="/data/new_project">
                            {{ project_form.hidden_tag() }}
                            {{ wtf.form_field(project_form.name) }}
                            {{ wtf.form_field(project_form.description) }}
                            <button type="submit" class="btn btn-success pull-right" name="button" value="create">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<form method="post" action="{{ url_for('data_bp.update_project') }}">
                            {{ project_form.hidden_tag() }}
                            <input type="hidden" id="project_id" name="project_id">
                            {{ wtf.form_field(project_form.name) }}
                            {{ wtf.form_field(project_form.description) }}
                            <button type="submit" class="btn btn-success" name="button" value="update">Update</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).on('click', '.project-action', function () {
            var $this = $(this);
            if ($this.val() === 'edit') {
                $('#myModal').modal('show');
                document.getElementById("project_id").value = $this.attr('name');
                 $('#myModal').find("#name").val($('#name-'+ $this.attr('name')).text());
                 $('#myModal').find("#description").val($('#description-'+ $this.attr('name')).text());
            }
        });

        // panel expansion
        $(document).on('click', '.panel div.clickable', function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parent('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
            } else {
                $this.parent('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
            }
        });
        $(document).ready(function () {
            $('.clickable').click();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            localStorage.clear();
            // Constructs the suggestion engine
            var users = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                // The url points to a json file that contains an array of country names
                prefetch: "{{ url_for('user_bp.autocomplete') }}"
            });

            // Initializing the typeahead with remote dataset without highlighting
            $('.typeahead').typeahead(null, {
                name: 'users',
                source: users,
                limit: 5, /* Specify max number of suggestions to be displayed */
                hint: true,
                highlight: true, /* Enable substring highlighting */
                minLength: 1 /* Specify minimum characters required for showing */
            });
        });
    </script>

{% endblock %}