{% extends "layout/main.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/Main/dashboard.css')}}">
{% endblock %}

{% block sidebar_content %}
    <ul class="nav nav-pills flex-column">
        <!-- Projects banner -->
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <i class="fas fa-sitemap"></i>
                Projects
            </a>
        </li>
        <!-- Projects -->
        {% for project in projects %}
            <!-- Project info toggle -->
            <li class="nav-item">
                <a class="nav-link sidebar-link" data-toggle="collapse"
                   href="#project-{{ project.id }}-info">
                    <i class="fas fa-caret-right " id="project-{{ project.id }}-toggle"></i>
                    {{ project.name }}
                </a>
            </li>
            <!-- Collapsable project info card -->
            <div class="collapse project-collapse" id="project-{{ project.id }}-info">
                <div class="card card-body project-card">
                    <h6>Description:</h6>
                    {{ project.description }}
                    <hr/>
                    <div class="row-fluid inline action-icons">
                        <!-- Open project button -->
                        <a href="#">
                            <i class="fas fa-folder-open"></i>
                        </a>
                        <!-- Edit project button -->
                        <a href="#edit-project-modal" data-toggle="modal"
                           data-target="#edit-project-modal"
                           data-projectid="{{ project.id }}"
                           data-title="{{ project.name }}"
                           data-description="{{ project.description }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <!-- Delete project button -->
                        <form id="delete-form-{{ project.id }}"
                              action="{{ url_for('project_bp.delete') }}"
                              method="POST">
                            <input type="hidden" name="project_id"
                                   value="{{ project.id }}">
                            <a href="#" onclick="document.getElementById('delete-form-{{ project.id }}').submit()">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </form>
                        <!-- Share project button -->
                        <a href="#share-project-modal" data-toggle="modal"
                           data-target="#share-project-modal"
                           data-projectid="{{ project.id }}">
                            <i class="fas fa-share-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}

{% block main_content %}
    <div class="jumbotron">
        {% if current_user.first_name %}
            <h1 class="display-4">Hello, {{ current_user.first_name }}!</h1>
        {% else%}
            <h1 class="display-4">Hello there!</h1>
        {% endif %}
        <p class="lead">
            Welcome to our data wrangling web application!
        </p>
        <hr class="my-4">
        <p>
            Continue working on one of your existing projects by clicking on them on the left, or create a new one by pressing the button below.
        </p>
        <p>
            <a class="btn btn-outline-success btn-lg" href="#" data-toggle="modal" data-target="#create-project-modal" role="button">
                <i class="fas fa-plus"></i>
                Create Project
            </a>
        </p>
    </div>
    <img class="background-filler" src="{{ url_for('static', filename='img/logo.svg') }}" alt="">
{% endblock %}

{% block modals %}
    {% include 'Project/create_modal.html' %}
    {% include 'Project/edit_modal.html' %}
    {% include 'Project/share_modal.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
	<script src="{{ url_for('static', filename='js/Main/dashboard.js') }}"></script>
	<script src="{{ url_for('static', filename='js/Project/edit_modal.js') }}"></script>
	<script src="{{ url_for('static', filename='js/Project/share_modal.js') }}"></script>
{% endblock %}