{% extends "layout/main.html" %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block sidebar_content %}
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link sidebar-link" href="{{ url_for('main_bp.dashboard') }}">
                <i class="fas fa-home fa-fw"></i>
                Return to Dashboard
            </a>
        </li>
        <!-- Project banner -->
        <li class="nav-item">
            <a class="nav-link not-clickable active" href="#">
                <i class="fas fa-sitemap fa-fw"></i>
                Project
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link current-section" href="{{ url_for('view_bp.view', project_id=project.id) }}">
                <i class="fas fa-upload fa-fw"></i>
                Upload data
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link" href="{{ url_for('view_bp.join', project_id=project.id) }}">
                <i class="fas fa-random fa-rotate-270 fa-fw"></i>
                Merge data
            </a>
        </li>
        <!-- Datasets banner -->
        <li class="nav-item">
            <a class="nav-link not-clickable active" href="#">
                <i class="fas fa-database fa-fw"></i>
                Datasets
            </a>
        </li>
    {% for dataset in project.datasets %}
        <li class="nav-item">
            <a class="nav-link sidebar-link" data-toggle="collapse"
               href="#sidebar-{{ dataset.id }}-info">
                <i class="fas fa-caret-right fa-fw" id="sidebar-{{ dataset.id }}-toggle"></i>
                {{ dataset.name }}
            </a>
        </li>
        <!-- Collapsable dataset info card -->
        <div class="collapse sidebar-collapse" id="sidebar-{{ dataset.id }}-info">
            <div class="card card-body sidebar-card">
                <h6>Description:</h6>
                {{ dataset.description }}
                <hr/>
                <div class="row-fluid inline action-icons">
                    <!-- Open project button -->
                    <a href="{{ url_for('view_bp.view', dataset_id=dataset.id) }}">
                        <i class="fas fa-folder-open"></i>
                    </a>
                    <!-- Edit project button -->
                    <a href="#edit-dataset-modal" data-toggle="modal"
                       data-target="#edit-dataset-modal"
                       data-projectid="{{ dataset.id }}"
                       data-title="{{ dataset.name }}"
                       data-description="{{ dataset.description }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <!-- Delete project button -->
                    <form id="delete-form-{{ dataset.id }}"
                          action="{{ url_for('upload_bp.delete', dataset_id=dataset.id) }}"
                          method="POST">
                        <input type="hidden" name="dataset_id"
                               value="{{ dataset.id }}">
                        <a href="#" onclick="document.getElementById('delete-form-{{ dataset.id }}').submit()">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %}

{% block main_content %}
<div class="jumbotron">
    <div class="row">
        <div class="container">
            <form method=post action="{{ url_for('upload_bp.zip', project_id=project.id) }}">
                <h2>Upload without joining:</h2>
                    <table id="upload-table" class="table table-bordered" width="100%">
                        <thead>
                            <tr>
                                <th>File</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for file in files %}
                            <tr>
                                <td>
                                     <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="checkbox-{{ file }}">
                                            {{ file }}
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="{{ name }}" name="name-{{ file }}" required>
                                </td>
                                <td>
                                    <input type="text" class="form-control" value="{{ description }}" name="description-{{ file }}" required>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                <h2>Join and upload:</h2>
                <table id="join_table" class="table table-bordered" width="100%">
                    <thead>
                    <tr>
                        <th>Left</th>
                        <th>Join type</th>
                        <th>Right</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select class="form-control file-select" id="file-left">
                                    <option value="" disabled selected>Select file</option>
                                    {% for file in files %}
                                        <option>{{ file }}</option>
                                    {% endfor %}
                                </select>
                                <hr/>
                                <select class="form-control" id="column-left">
                                    <option value="" disabled selected>Select column</option>
                                    {# Dynamically genererated options #}
                                </select>
                            </td>
                            <td>
                                <select class="form-control" id="join-type">
                                    <option>cross</option>
                                    <option>inner</option>
                                    <option>left outer</option>
                                    <option>right outer</option>
                                    <option>full outer</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control file-select" id="file-right">
                                    <option value="" disabled selected>Select file</option>
                                    {% for file in files %}
                                        <option>{{ file }}</option>
                                    {% endfor %}
                                </select>
                                <hr/>
                                <select class="form-control" id="column-right">
                                    <option value="" disabled selected>Select column</option>
                                    {# Dynamically genererated options #}
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="join-name">
                            </td>
                            <td>
                                <input type="text" class="form-control" id="join-description">
                            </td>
                            <td>
                                <button type="button" class="btn btn-info btn-block add-join-btn"><i class="fas fa-plus"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-success pull-right" name="button" value="upload">
                    <i class="fas fa-upload"></i>
                    Upload
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
{% include 'Data/Import/edit_modal.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/Data/Import/zip_join.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Data/Import/edit_modal.js') }}"></script>
{% endblock %}
