{% extends "layout/main.html" %}

{% block styles %}
    {{ super() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/datatables.min.css"/>
{% endblock %}

{% block sidebar_content %}
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link sidebar-link" href="{{ url_for('main_bp.dashboard') }}">
                <i class="fas fa-home "></i>
                Return to Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link not-clickable active" href="#">
                <i class="fas fa-users"></i>
                Manage Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link" href="#" id="admin-users-link">
                <i class="fas fa-key "></i>
                Toggle Admin
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link" href="#" id="disable-users-link">
                <i class="fas fa-minus-circle "></i>
                Toggle Disabled
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link sidebar-link" href="#" id="delete-users-link">
                <i class="fas fa-trash-alt "></i>
                Delete
            </a>
        </li>
    </ul>
{% endblock %}

{% block main_content %}
    <div class="row">
		<div class="container">
			<form id="user-management" method="POST">
                <input type="hidden" id="user-operation" name="operation" value="">
				<table id="user_table" class="table table-bordered table-striped" cellspacing="0" width="100%">
					<thead>
					<tr style="background-color: #eef5f8">
						<th></th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Username</th>
						<th>Admin Rights</th>
						<th>Disabled</th>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
			</form>
		</div>
	</div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
    {{ super() }}
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/datatables.min.js"></script>
	<script src="{{ url_for('static', filename='js/Admin/manage_users.js') }}"></script>
        <script type="text/javascript" charset="utf-8">
        $(document).ready(function (){
            var table = $('#user_table').DataTable({
                'processing': true,
                'serverSide': true,
                'ajax': "{{ url_for('admin_bp.data') }}",
                'scrollY': '80vh',
                'scrollCollapse': true,
                'deferRender': true,
                'columnDefs': [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta){
                        return '<input type="checkbox" name="user_id[]" value="' + $('<div/>').text(data).html() + '">';
                    }
                }],
                'order': [[1, 'asc']]
            });
		    $('select[name=user_table_length]').removeClass();
		    $('select[name=user_table_length]').addClass('custom-select');
		    $('select[name=user_table_length]').addClass('custom-select-sm');
        });
    </script>
{% endblock %}