body {
  font-size: .875rem;
  font-family: Ubuntu;
}

.ignore-nav {
  position: relative;
  top: -42px;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.not-clickable {
  pointer-events: none;
  cursor: default;
}

img.background-filler {
    position: fixed;
    bottom: -30px;
    right: -90px;
    height: 25%;
    width: 25%;
    opacity: 0.2;
    z-index: -1;
}

table.dataTable td {
padding: 3px 10px !important;
width: 1px !important;
white-space: nowrap !important;
}

table.dataTable th {
white-space: nowrap !important;
}