{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
{% include 'includes/_navbar_top.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% include 'includes/_messages.html' %}
          <h2 class="page-header">Datasets of {{ project_name }}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Dataset name</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                  {% for table in tables %}
                      <tr onclick="location.href='{{url_for('data_bp.datasets', dataset=table[0], page=1)}}'">
                          <!-- <td>{{table[0]}}</td> -->
                          <td>{{table[0]}}</td>
                          <td>{{table[1]}}</td>
                          <td>{{table[2]}}</td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
