{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Upload
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
{% include 'includes/_navbar_top.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ current_user.id }}</h1>
          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
              <form method="post" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
                  {{ wtf.form_field(form.project) }}
                  {{ wtf.form_field(form.csvfile) }}
                  {{ wtf.form_field(form.name) }}
                  {{ wtf.form_field(form.description) }}
                  <input type="submit">
              </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
